﻿<ul class="pure-menu-list">
  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
    <a href="#" class="pure-menu-link" data-bind="text: state.label"></a>
    <ul class="pure-menu-children" data-bind="foreach: data.items">
      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link" data-bind="text: $data[$parent.data.itemLabel], click: $parent.actions.setItem"></a>
      </li>
    </ul>
  </li>
</ul>