﻿<div class="lightbox">
  <button class="lightbox-close" data-bind="click: actions.hide">&times;</button>
  <img src="" data-bind="attr: { src: data.url }" />

  <!-- ko if: data.descriptor -->
  <div class="lightbox-descriptor">
    <!-- ko if: data.descriptor.name -->
    <p>
      <span class="font-weight-700" data-bind="text: data.descriptor.name"></span>

      <!-- ko if: data.descriptor.external -->
      <small>
        &nbsp;(<a href="" target="_blank" data-bind="attr: { href: data.descriptor.external }">View Original</a>)
      </small>
      <!-- /ko -->
    </p>
    <!-- /ko -->

    <!-- ko if: data.descriptor.description -->
    <p data-bind="html: data.descriptor.description"></p>
    <!-- /ko -->

    
  </div>
  <!-- /ko -->
</div>