﻿@import (less)"../../node_modules/purecss/build/pure.css";
@import (less)"../../node_modules/purecss/build/grids-responsive.css";

/*
  Size specs
*/
@base: 1em;
@stage: 60rem;

/*
  Tints
*/
@raw: #fff;
@rare: #dddddd;
@medium: #ccc;
@well: #333;
@black: #000;

/*
  Theme
*/
@theme-blue: #0080FF;

/*
  Imports
*/
@import "partials/_scaffold.less";
@import "partials/_top-bar.less";
@import "partials/_photo-grid.less";
@import "partials/_lightbox.less";
@import "partials/_photo-viewer.less";
