﻿<div class="photo-grid">
  <div class="stage">    
    <!-- Grid Filtering -->
    <nav class="photo-grid-nav pure-menu pure-menu-horizontal">
      <!-- Feature -->
      <dropdown-menu params="items: data.features,
                         value: state.feature,
                         defaultLabel: 'Feature'"></dropdown-menu>

      <!-- Sorts -->
      <dropdown-menu params="items: data.sorts,
                         value: state.sort,
                         defaultLabel: 'Sort By'"></dropdown-menu>

      <!-- Orders -->
      <dropdown-menu params="items: data.orders,
                         value: state.order,
                         defaultLabel: 'Order By'"></dropdown-menu>
    </nav>

    <!-- Photo Grid -->
    <div data-bind="if: state.hasPhotos" class="pure-g photo-grid-photos">
      <!-- ko foreach: data.photos -->
      <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-4">
        <div class="photo-grid-photo">
          <photo-viewer params="photo: $data"></photo-viewer>
        </div>
      </div>
      <!-- /ko-->
    </div>

    <!-- Load More -->
    <div data-bind="ifnot: state.loading" class="text-center">
      <button data-bind="click: actions.loadMore" class="pure-button">Load More</button>
    </div>

    <!-- Error State-->
    <div data-bind="if: state.error">
      <div class="text-center">There was an error. Please try again.</div>
    </div>

  </div>
</div>
