﻿/*
  @_photo-grid.less
  Defines styles for basic lightbox
*/
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  height: 100%;
  outline: none;
  text-align: center;
  width: 100%;
  z-index: 5000;

  img {
    max-width: 90%;
    max-height: 80%;
    margin: @base 0 @base;
  }

  .lightbox-close {
    position: absolute;
    top: .25rem;
    right: .25rem;
    background: none;
    border: 0;
    color: @raw;
    font-size: 1.5em;
  }

  .lightbox-descriptor {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: @black;
    color: @raw;
    padding: @base;
    text-align: left;

    p {
      line-height: 1.4;
      margin: 0;
    }
  }
}
