﻿/*
  @_photo-viewer.less
  Defines styles for photo-viewer component
*/
.photo-viewer {
  position: relative;

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .photo-viewer-placeholder,
  .photo-viewer-photo {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .photo-viewer-placeholder {
    .animate-flicker;
    background: @rare;
  }

  .photo-viewer-photo {
    background-size: contain;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
}

.animate-flicker {
  animation: fadeIn 1s infinite alternate;
}