﻿/*
  @_photo-grid.less
  Defines styles for photo-grid component
*/
.photo-grid {
  padding: @base;

  .photo-grid-nav {
    margin-bottom: @base / 2;
    text-align: right;

    .pure-menu-item {
      text-align: left;
    }

    .pure-menu-link {
      &:hover {
        background: @rare;
      }
    }
  }

  .photo-grid-photos {
    margin: 0 -@base;
  }

  .photo-grid-photo {
    padding: @base;
  }
}