﻿/*
  @_scaffold.less
  Defines global mixins and styles
*/

html,body {
  color: @black;
}

.stage {
  margin: 0 auto;
  max-width: @stage;
}

a {
  color: inherit;

  &:hover {
    color: @theme-blue;
  }
}

.font-weight-700 {
  font-weight: 700;
}

.text-center {
  text-align: center;
}