﻿/*
  @_top-bar.less

  Defines styles for .top-bar element and it's children
*/
.top-bar {
  background: @rare;
  padding: 1rem;

  .brand {
    font-size: 1.25em;
    font-weight: 200;
    text-decoration: none;
  }
}