﻿<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
<!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Popular Photos</title>

  <link rel="stylesheet" href="~/styles.min.css" />
</head>
<body>
  @await Html.PartialAsync("~/Views/Shared/TopBar.cshtml")

  <main>
    @RenderBody()
  </min>

  <environment include="Development">
    <script type="text/javascript" src="~/app.bundle.js" defer></script>
  </environment>

  <environment Exclude="Development">
    <script type="text/javascript" src="~/app.min.js" defer></script>
  </environment>

</body>
</html>
