﻿<div class="photo-viewer">
  <div class="photo-viewer-placeholder"></div>
  <div href="javascript;" class="photo-viewer-photo" data-bind="click: actions.toggleLightbox, backgroundImage: data.thumbnailUrl"></div>

  <!-- ko if: state.lightbox -->
  <photo-lightbox params="url: data.fullResUrl, 
                  hide: actions.toggleLightbox,
                  name: data.photo.name,
                  description: data.photo.description,
                  external: data.photo.external_url"></photo-lightbox>
  <!-- /ko -->
</div>
